html, body{
    margin: 0;
    font-size: 16px;
    width: 100%;
    height: 100%;
}
p{
    text-align: center;
    font-size: 20px;
}
h1{
    text-align: center;
    font-size: 36px;
    color: #0000ff;
    font-weight:bold;
}
.section{
    text-align: center;
}
.section2{
    text-align: center;
    background-color: rgb(71, 71, 71);
    padding: 30px;
}
.section3{
    text-align: center;
}
.no-underscore{
    text-align: center;
    text-decoration:none;
    color:#000000 ;
}
.no-underscore:hover{
    text-decoration:underline;
}
.contact{
    background: url("../img/pikachu.png") no-repeat center center;
    height: 200px;
    overflow:auto;
    text-decoration:underline;
}
